project:
  type: website
  output-dir: ../_site/spark
  pre-render:
    - cp -a ../news/. ./news/
    - quarto run ../update_data.R

website:
  title: "Strengthening Preparedness in the Asia-Pacific Region through Knowledge"
  navbar:
    right:
      - text: "Home"
        href: index.html
      - text: "People"
        href: people.html
      - text: "Resources"
        menu:
          - text: "Publication"
            href: publications.html
          - text: "Projects"
            href: projects.html
      - text: "News and Events"
        href: news.html
      - text: "Other Consortia"
        menu:
          - text: "Home"
            href: ../index.html
          - text: "SPECTRUM"
            href: ../spectrum/index.html
          - text: "PRISM<sup>2</sup>"
            href: https://www.prism.edu.au
    foreground: "#9f1f63"
    background: "#FFFFFF"
    logo: images/logo_spark.png
  favicon: images/favicon.png
  page-footer:
    left: |
      For more information or to report issues, please contact <a href='mailto:spectrum-spark@unimelb.edu.au'>the consortia project inbox</a>.
    right: |
      SPARK is funded by the Australian Department of Foreign Affairs and Trade (DFAT)
    background: "#9f1f63"
    foreground: "#FFFFFF"
        
        

format:
  html:
    theme: cosmo
    css: [style_spark.css, custom_scss.scss]
    toc: true