/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto:wght@100&display=swap');

html {
  /*-- Main font sizes --*/
  --title-size: 50px;
  --body-size: 1.06rem;
  --code-size: 14px;
  --aside-size: 12px;
  --fig-cap-size: 13px;
  /*-- Main font colors --*/
  --title-color: #000000;
  --header-color: #9f1f63;
  --body-color: rgba(0, 0, 0, 0.8);
  --aside-color: rgba(0, 0, 0, 0.6);
  --fig-cap-color: rgba(0, 0, 0, 0.6);
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font: sans-serif;
  --mono-font: monospace;
  --body-font: "Quicksand";
  --heading-font: "Raleway";
  --navbar-font: sans-serif;
  /* websites + blogs only */
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size: 0.6rem;
  --heading-color: rgba(0, 0, 0, 0.5);
  --body-size: 0.8rem;
  --body-color: rgba(0, 0, 0, 0.8);
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size: 18px;
  --contents-size: 13px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size: 15px;
  --heading-color: rgba(0, 0, 0, 0.65);
  --text-size: 0.8em;
  --text-color: rgba(0, 0, 0, 0.5);
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size: 18px;
  --text-color: rgba(0, 0, 0, 0.8);
  --text-size: 15px;
  --hover-color: #9E1F63;
  --bkgd-color: #F05662;
}

.distill-site-footer {
  --text-color: rgba(255, 255, 255, 0.8);
  --text-size: 15px;
  --hover-color: white;
  --bkgd-color: #0F2E3D;
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below                      */

.textwrap {
  float: right;
  margin: 10px;
  width: 25%;
}

.more--button {
  color: #3a3a3a;
  border-color: #3a3a3a;
  border-style: solid;
  background-color: transparent;
  border-width: 1px;
  padding: 5px 5px 5px 5px;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

/* Sets the width for the ID pages to be roughly the same as standard content */
.my-5 {
  width: 66%;
  float: left;
}

.align-items-center {
  align-items: flex-start !important;
}

.mx-auto {
  margin-right: 0 !important;
}

.description {
  width: 60% !important;
}

.boxes {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-around;
}

.boxes .col {
  width: 33%;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 1px solid #f2f4f7;
  border-spacing: 50px;
}

.boxes .col img {
  width: 95%
}

.col {
  padding: 10px;
  border-style: solid;
  border-spacing: 20px;
  border-width: thin;
  transition: background-color .5s;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col:hover {
  background-color: #dcdcdc;
}

* {
  box-sizing: border-box;
}

.navbar-dark {
  background-color: #FFFFFF;
}

.navbar-brand img {
  max-height: fit-content !important;
}

.navbar {
  border-style: none none solid none;
  border-color: #9f1f63;
}

a {
  text-decoration-style: dotted;
  color: inherit;
}